.services {
  &__inner {
    position: relative;
  }

  &__title {
    margin-bottom: 55px;
    max-width: 900px;
    @include r($desktop) {
      max-width: 800px;
    }
    @include r($lg) {
      max-width: 700px;
    }
    @include r($tablet) {
      max-width: 600px;
    }
    @media (max-width: 580px) {
      max-width: 400px;
    }
    @include r($phone) {
      max-width: 360px;
    }
  }

  &__items {
    @include flex-align-center(10);
    flex-wrap: wrap;
    margin-bottom: 75px;
    @include r($lg) {
      margin-bottom: 50px;
    }
    @include r($phone) {
      margin-bottom: 30px;
    }
  }

  &__item {
    border: 1px solid #2f2f2f;
    padding: 15px 25px;
    font-size: 20px;
    border-radius: 50px;
    @include flex-align-center(10);
    position: relative;
    line-height: 1;
    @media (max-width: 1300px) {
      font-size: 18px;
    }
    @include r($lg) {
      font-size: 17px;
      padding: 16px 23px;
    }
    @include r($tablet) {
      font-size: 16px;
    }
    @include r($phone) {
      padding: 16px 18px;
    }

    &::before {
      content: "";
      background-image: url("../images/icons/check-services.svg");
      width: 18px;
      height: 18px;
    }
  }

  &__img {
    @include objectCoverBg;
    margin-top: -140px;
    margin-left: auto;
    @media (max-width: 1300px) {
      margin-top: -110px;
    }
    @media (max-width: 1100px) {
      height: 450px;
      width: auto;
    }
    @include r($lg) {
      margin-top: -70px;
    }
    @include r($tablet) {
      margin-top: -60px;
      height: 400px;
    }
    @media (max-width: 660px) {
      margin-right: -20px;
    }
    @media (max-width: 530px) {
      display: none;
    }

    &.mobile {
      display: none;
      @media (max-width: 530px) {
        display: block;
        margin-left: auto;
        margin-right: 0;
        margin-top: -80px;
        width: 350px;
        height: auto;
      }
      @include r($phone) {
        width: 100%;
        margin: 30px auto 0;
      }
    }
  }
}