.btn {
  @include flex-align-center(9);
  justify-content: center;
  line-height: 1;
  color: $white;
  overflow: hidden;
  font-weight: 500;
  padding: 15px 24px;
  max-width: max-content;
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.02);
  background: rgba(28, 28, 28, 0.17);
  box-shadow: 0 3px 9.3px 0 rgba(255, 255, 255, 0.65) inset, 0 6px 12.5px 0 rgba(255, 255, 255, 0.04) inset;
  backdrop-filter: blur(22.450000762939453px);
  transition: background-color .4s, border .4s, color .4s, box-shadow .4s, transform .6s;
  @include r($tablet) {
    padding: 14px 23px;
    font-size: 16px;
  }

  &:hover {
    box-shadow: 0 3px 9.3px 0 rgba(255, 255, 255, 0) inset, 0 6px 12.5px 0 rgba(255, 255, 255, 0) inset;
    background-color: transparent;
    color: $white;
    border-color: $white;

    svg path {
      stroke: $white;
    }
  }

  &:focus {
    background-color: $white;
    border-color: transparent;
    color: $black;

    svg path {
      stroke: $black;
    }
  }

  &--white {
    border: 1px solid rgba(255, 255, 255, 0.02);
    background: $white;
    color: $black;
    box-shadow: 0 3px 9.3px 0 rgba(222, 164, 255, 0.65) inset, 0 6px 12.5px 0 rgba(255, 255, 255, 0.04) inset;
    backdrop-filter: blur(22.450000762939453px);

    &:hover {
      box-shadow: 0 3px 9.3px 0 rgba(222, 164, 255, 0.65) inset, 0 6px 12.5px 0 rgba(255, 255, 255, 0.04) inset;
      color: $white;
      border-color: transparent;
      background-color: #1e1e1e;
    }

    &:focus {
      box-shadow: 0 3px 9.3px 0 rgba(255, 255, 255, 0) inset, 0 6px 12.5px 0 rgba(255, 255, 255, 0) inset;
      background-color: transparent;
      color: $white;
      border-color: $white;

      svg path {
        stroke: $white;
      }
    }
  }
}