.title-section {
  font-size: 72px;
  line-height: 1.13;
  font-weight: 600;
  font-family: $velaSm;
  letter-spacing: -2.88px;
  @media (max-width: 1300px) {
    font-size: 66px;
    letter-spacing: -2.4px;
  }
  @include r($desktop) {
    font-size: 60px;
    letter-spacing: -1.8px;
  }
  @include r($lg) {
    font-size: 54px;
  }
  @media (max-width: 860px) {
    font-size: 50px;
    letter-spacing: -1.3px;
  }
  @include r($tablet) {
    font-size: 46px;
    letter-spacing: -1px;
  }
  @include r($sm) {
    font-size: 44px;
  }
  @include r($phone) {
    font-size: 40px;
    letter-spacing: -0.6px;
  }
  @media (max-width: 410px) {
    font-size: 38px;
  }

  &--center {
    text-align: center;
  }
}