<header class="header" id="header">
  <div class="container container--long">
    <div class="header__inner">
      <div class="header__logo">
        <img class="logo" src="images/logo.svg" width="119" height="24" alt="logo XPulse">
      </div>
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__item">
            <a class="header__link desktop" href="#features">Features</a>
          </li>
          <li class="header__item">
            <a class="header__link desktop" href="#about">About</a>
          </li>
          <li class="header__item">
            <a class="header__link desktop" href="#roadmap">Roadmap</a>
          </li>
        </ul>
      </nav>
      <div class="header__right">
        <a class="header__btn btn" href="" target="_blank">
          Launch XPulse
          <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
            <path d="M3.27588 8.5H13.9425M13.9425 8.5L9.94255 4.5M13.9425 8.5L9.94255 12.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
        <button class="menu-btn menu-btn--header" type="button">
          <span class="menu-btn__line"></span>
          <span class="sr-only">Взаимодействовать с меню</span>
        </button>
      </div>
    </div>
  </div>
  <div class="header__mobile">
    <a class="header__btn mobile btn" href="" target="_blank">
      Launch XPulse
      <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
        <path d="M3.27588 8.5H13.9425M13.9425 8.5L9.94255 4.5M13.9425 8.5L9.94255 12.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </a>
    <nav class="header__nav mobile">
      <ul class="header__list">
        <li class="header__item">
          <a class="header__link mobile" href="#features">Features</a>
        </li>
        <li class="header__item">
          <a class="header__link mobile" href="#about">About</a>
        </li>
        <li class="header__item">
          <a class="header__link mobile" href="#roadmap">Roadmap</a>
        </li>
      </ul>
    </nav>
  </div>
</header>