<header class="header" id="header">
  <div class="container container--long">
    <div class="header__inner">
      <div class="header__logo">
        <img class="logo" src="images/logo.svg" width="119" height="24" alt="logo XPulse">
      </div>
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__item">
            <a class="header__link desktop" href="#career">Features</a>
          </li>
          <li class="header__item">
            <a class="header__link desktop" href="#roadmap">About</a>
          </li>
          <li class="header__item">
            <a class="header__link desktop" href="#linktree">Roadmap</a>
          </li>
        </ul>
      </nav>
      <div class="header__right">
        <a class="header__btn btn" href="" target="_blank">
          Launch XPulse
          <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
            <path d="M3.27588 8.5H13.9425M13.9425 8.5L9.94255 4.5M13.9425 8.5L9.94255 12.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
        <button class="menu-btn menu-btn--header" type="button">
          <span class="menu-btn__line"></span>
          <span class="sr-only">Взаимодействовать с меню</span>
        </button>
      </div>
    </div>
  </div>
  <div class="header__mobile">
    <a class="header__btn mobile btn" href="https://t.me/ptichezz_adv" target="_blank">
      Request Free Demo
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M7 17L17 7M17 7H7M17 7V17" stroke="#211360" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </a>
    <div class="header__socials mobile">
      <a class="header__social" href="" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
          <path d="M15.8014 0H18.867L12.136 7.66411L20 18.0606H13.8287L8.997 11.7428L3.46551 18.0606H0.399867L7.53082 9.86338L0 0H6.32456L10.6898 5.77141L15.8014 0ZM14.7284 16.2612H16.4279L5.43152 1.73276H3.60546L14.7284 16.2612Z" fill="white"/>
        </svg>
      </a>
      <a class="header__social telegram" href="" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="18" viewBox="0 0 20 18" fill="none">
          <path d="M0.441505 8.26034L18.3365 0.556863C19.2 0.18518 20.1284 0.924803 19.9853 1.87046L17.8097 16.2657C17.637 17.4075 16.359 17.9771 15.4218 17.3301L9.00927 12.904C8.50559 12.5562 8.44418 11.8224 8.88331 11.3925L14.9684 5.43354C15.1269 5.27845 15.1178 5.01667 14.9489 4.87321C14.8232 4.76678 14.644 4.75756 14.5082 4.85061L6.44728 10.389C5.71919 10.8893 4.80767 11.0242 3.97052 10.7553L0.505398 9.64279C-0.135623 9.43703 -0.177782 8.52694 0.441505 8.26034Z" fill="white"/>
        </svg>
      </a>
    </div>
    <nav class="header__nav mobile">
      <ul class="header__list">
        <li class="header__item">
          <a class="header__link mobile" href="#career">DeFi Career</a>
        </li>
        <li class="header__item">
          <a class="header__link mobile" href="#roadmap">RoadMap</a>
        </li>
        <li class="header__item">
          <a class="header__link mobile" href="#linktree">Linktree</a>
        </li>
        <li class="header__item">
          <a class="header__link mobile" href="#whitepaper">Whitepaper</a>
        </li>
      </ul>
    </nav>
  </div>
</header>